.p2 {
    font-style:italic;
    font-weight:normal;
}
span {
     text-decoration:underline;
}
.animal{
    display:block;
    margin: 0 auto;
}
 .leftimg {
    float:left; 
    margin: 7px 7px 7px 0;
 }
.position {
    text-align:center;
}
.right {text-align:right;
}
